<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý tài khoản</title>
    <link rel="stylesheet" href="../static/css/management.css">
<!--    <link rel="stylesheet" th:href="@{/css/management.css}">-->
</head>
<body>

<header>
    <div class="logo-container">
        <img src="logo.png" alt="Logo" class="logo">
    </div>
    <div class="user-profile">
        <img src="user-icon.png" alt="User" class="user-icon">
    </div>
</header>

<!--<th:block th:replace="component/header"></th:block>-->

<div class="container">
    <aside class="sidebar">
        <nav>
            <ul>
                <li class="nav-header">Admin</li>
                <li class="active"><a href="accountManagement">Quản lý tài khoản</a></li>
                <li ><a href="#">Quản lý đơn hàng</a></li>
                <li><a href="productManagement">Quản lý sản phẩm</a></li>
            </ul>
        </nav>

        <div class="logout">
            <a href="#">Logout</a>
        </div>
    </aside>

    <main class="content">
        <div class="content-header">
            <h2>Quản lý tài khoản</h2>
            <form class="search-container">
                <input type="text" placeholder="Search" class="search-input">
                <button type="submit" class="search-btn">Search</button>
            </form>
        </div>

        <div class="content_body">
            <div class="orders-table">
                <table>
                    <thead>
                    <tr>
                        <th>Mã tài khoản</th>
                        <th>Tên tài khoản</th>
                        <th>Email</th>
                        <th>Ngày tạo</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td>Ngày tạo</td>
                        <td>Email</td>
                        <td>23/01/2025</td>
                        <td class="action-container">
                            <button class="seeDetail-btn">ooo</button>
                            <button class="delete-btn">×</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </main>
</div>

</body>
</html>