<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý tài khoản</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/css/management.css">
    <link rel="stylesheet" th:href="@{/css/management.css}">
</head>

<!--<th:block th:replace="component/header.html"></th:block>-->
<body_admin>

<!--<header_admin>-->
<!--    <div class="logo-container_admin">-->
<!--        <img th:src="@{/logo/logo.png}" alt="" class="logo_admin">-->
<!--    </div>-->
<!--    <div class="user-profile">-->
<!--        <i class="fa-solid fa-user user-icon_admin"></i>-->
<!--    </div>-->
<!--</header_admin>-->
<th:block th:insert="~{component/header-admin}" />
<div class="container_admin">
<!--    <th:block th:insert="~{component/aside-admin}" />-->
    <aside class="sidebar">
        <nav>
            <ul>
                <li class="nav-header-admin">
                    <i class="bi bi-speedometer2"></i>Admin
                </li>
                <li class="active">
                    <a th:href="@{/admin/accountManagement}">
                        <i class="bi bi-people-fill"></i> Quản lý tài khoản
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/order-management}">
                        <i class="bi bi-cart-check-fill"></i> Quản lý đơn hàng
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/productManagement}">
                        <i class="bi bi-box-seam-fill"></i> Quản lý sản phẩm
                    </a>
                </li>
            </ul>
        </nav>

        <div class="logout">
            <a th:href="@{/admin/logoutAdmin}" class="logout-btn">
                <i class="bi bi-box-arrow-right"></i>
                <span>Đăng xuất</span>
            </a>
        </div>
    </aside>

    <main_admin class="content_admin">

        <div th:if="${error}" class="alert alert-danger" role="alert">
            <span th:text="${error}"></span>
        </div>

        <div th:if="${success}" class="alert alert-success" role="alert">
            <span th:text="${success}"></span>
        </div>
        <h2>Quản lý tài khoản</h2>
        <div class="content-header-admin">

            <form class="search-container" action="/admin/accountManagement" method="get">
                <input type="text" name="keyword" placeholder="Nhập tên tài khoản" class="search-input" th:value="${keyword}">
                <button type="submit" class="search-btn">Tìm kiếm</button>
            </form>
        </div>

        <div class="content_admin_body">
            <div class="admin-table">
                <table>
                    <thead>
                    <tr>
                        <th>Mã tài khoản</th>
                        <th>Tên tài khoản</th>
                        <th>Email</th>
                        <th>Ngày tạo</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <tr th:if="${#lists.isEmpty(users)}">
                        <td colspan="5" class="text-center">Không có tài khoản nào</td>
                    </tr>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${#temporals.format(user.createdAt, 'dd/MM/yyyy HH:mm')}"></td>
                        <td class="action-container-admin">
                            <div class="dropdown">
                                <button class="options-btn" onclick="toggleDropdown(this)">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <div class="dropdown-content" style="display: none;">
                                    <a th:href="@{/admin/accountDetail/{id}(id=${user.id})}" class="info-btn">
                                        <i class="bi bi-info"></i>
                                    </a>
                                    <form th:if="${user.isActive}" th:action="@{/admin/accountManagement/deactivate/{id}(id=${user.id})}" method="post" class="delete-btn">
                                        <button type="button" class="delete-btn" onclick="confirmAction(this, 'Bạn có chắc chắn muốn khóa tài khoản này?')">
                                            <i class="bi bi-lock-fill"></i>
                                        </button>
                                    </form>
                                    <form th:unless="${user.isActive}" th:action="@{/admin/accountManagement/activate/{id}(id=${user.id})}" method="post" class="unlock-btn">
                                        <button type="button" class="unlock-btn" onclick="confirmAction(this, 'Bạn có chắc chắn muốn mở khóa tài khoản này?')">
                                            <i class="bi bi-unlock-fill"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pagination-container">
            <nav>
                <ul class="pagination">
                    <li th:classappend="${currentPage == 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/admin/accountManagement(page=1)}">&laquo;</a>
                    </li>

                    <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                        th:classappend="${currentPage == i} ? 'active'">
                        <a class="page-link" th:href="@{/admin/accountManagement(page=${i})}" th:text="${i}"></a>
                    </li>

                    <li th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a class="page-link" th:href="@{/admin/accountManagement(page=${totalPages})}">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </main_admin>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function toggleDropdown(button) {
        // Đóng tất cả các dropdown đang mở
        const allDropdowns = document.querySelectorAll('.dropdown-content');
        allDropdowns.forEach(dropdown => {
            if (dropdown !== button.nextElementSibling) {
                dropdown.style.display = 'none';
            }
        });

        // Chuyển đổi trạng thái hiển thị của dropdown hiện tại
        const dropdownContent = button.nextElementSibling;
        if (dropdownContent.style.display === 'none' || dropdownContent.style.display === '') {
            dropdownContent.style.display = 'flex';
        } else {
            dropdownContent.style.display = 'none';
        }
    }

    // Đóng dropdown khi nhấp vào nơi khác trên trang
    document.addEventListener('click', function(event) {
        if (!event.target.matches('.options-btn') && !event.target.closest('.dropdown-content') && !event.target.matches('.bi-three-dots')) {
            const dropdowns = document.querySelectorAll('.dropdown-content');
            dropdowns.forEach(dropdown => {
                dropdown.style.display = 'none';
            });
        }
    });
    function confirmDeactivate(button) {
        if (confirm('Bạn có chắc chắn muốn khóa tài khoản này?')) {
            button.closest('.delete-form').submit();
        } else {
            // Không làm gì cả khi người dùng chọn "Hủy"
            console.log('Đã hủy việc xóa tài khoản');
        }
    }

    function confirmAction(button, message) {
        if (confirm(message)) {
            button.closest('form').submit();
        } else {
            console.log('Đã hủy thao tác');
        }
    }
</script>

</body_admin>
</html>