.category-list ul li a {
    text-decoration: none;
    color: #000;
}
.item-list .col-md-3 {
    flex: 1 1 calc(25% - 10px); /* Giữ cho mỗi sản phẩm chiếm 25% width */
    min-width: 250px; /* Đảm bảo không nhỏ hơn 250px */
    max-width: 300px; /* Giới hạn kích thước tối đa */
}

/* .container-item-detail .filter {
    position: fixed;
} */

.filter {
    display: block;
    position: sticky;
    top: calc(91.2px + 1rem);
}

.menu-button-detail {
    display: block;
    background: #007bff;
    color: white;
    padding: 10px;
}

@media (max-width: 768px) {
    .filter {
        display: none;
        /* position: sticky;*/
        top: 0; 
        left: 0;
        /* margin-top: 50px; */
        width: 250px;
        height: calc(100% - 100px);;
        background: white;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        padding: 20px;
        overflow-y: auto;
    }

    .filter-container {
        padding: 0%;
        width: 0%;
        /* height: 500px; */
    }

    .filter.active {
        display: block;
        top: 91.2px;
        position: fixed;
    }

    .menu-button {
        display: flex;
        /* position: fixed; */
        position: sticky;
        top: calc(91.2px + 1rem);
        left: 10px;
        border: none;
        justify-content: flex-end;
        font-size: 16px;
        cursor: pointer;
        z-index: 1001;
    }

    .menu-button.active {
        display: none;
    }

    .close-filter {
        background: none;
        border: none;
        font-size: 20px;
        float: right;
        cursor: pointer;
    }
}