
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    position: relative;
}


nav ul {
    list-style: none;
    padding: 20px 0;
}

nav li {
    padding: 10px 20px;
}

nav li.nav-header {
    font-weight: bold;
    color: #333;
}

nav li.active {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

nav a {
    text-decoration: none;
    color: #333;
}

.logout {
    padding: 20px;
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    background-color: #fff;
}

.logout a {
    color: #333;
    text-decoration: none;
}

.content {
    flex: 1;
    padding: 20px;
}
.content_body {
    width: 80%;
    margin: 0 auto;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}

.search-input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.orders-table {
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f8f8f8;
}

.action-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.delete-btn:hover {
    background-color: #ff0000;
}
.seeDetail-btn {
    background-color: transparent;
    color: #333;
    border: 1px solid #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: bold;
}

.seeDetail-btn:hover {
    background-color: #ddd;
}

td:last-child {
    display: flex;
    justify-content: center;
    gap: 1px;
}

.search-btn {
    padding: 8px 16px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

