
<!-- Main Banner Carousel -->
<div id="mainCarousel" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://cdn.tgdd.vn/hoi-dap/1355217/banner-tgdd-800x300.jpg" class="d-block w-100" alt="Banner 1">
<!--            <img th:src="@{/image/banner.jpg}" class="d-block w-100" alt="Banner 1">-->
<!--            <div class="carousel-caption d-none d-md-block">-->
<!--                <h2>Sale lớn mùa hè</h2>-->
<!--                <p>Giảm giá lên đến 50% cho tất cả sản phẩm</p>-->
<!--                <button class="btn btn-primary">Xem ngay</button>-->
<!--            </div>-->
        </div>
        <div class="carousel-item">
            <img src="https://img.pikbest.com/origin/10/01/53/35bpIkbEsTBzN.png!w700wp" class="d-block w-100" alt="Banner 2">
<!--            <img th:src="@{/image/banner.jpg}" class="d-block w-100" alt="Banner 2">-->
<!--            <div class="carousel-caption d-none d-md-block">-->
<!--                <h2>Sản phẩm mới</h2>-->
<!--                <p>Khám phá các sản phẩm mới nhất</p>-->
<!--                <button class="btn btn-primary">Khám phá</button>-->
<!--            </div>-->
        </div>
        <div class="carousel-item">
            <img src="https://img.pikbest.com/templates/20240520/purple-sale-banner-decorates-a-shop-selling-electronics_10575062.jpg!w700wp" class="d-block w-100" alt="Banner 3">
<!--            <img th:src="@{/image/banner.jpg}" class="d-block w-100" alt="Banner 3">-->
<!--            <div class="carousel-caption d-none d-md-block">-->
<!--                <h2>Miễn phí vận chuyển</h2>-->
<!--                <p>Cho đơn hàng trên 500.000đ</p>-->
<!--                <button class="btn btn-primary">Mua sắm ngay</button>-->
<!--            </div>-->
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>