
<!-- Footer -->
<footer class="pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4">
        <h5>ShopNow</h5>
        <p>Cung cấp các sản phẩm chất lượng với giá tốt nhất thị trường.</p>
        <div class="d-flex mt-3">
          <a href="#" class="me-2 text-white"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="me-2 text-white"><i class="fab fa-twitter"></i></a>
          <a href="#" class="me-2 text-white"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5>Thông tin</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Về chúng tôi</a></li>
          <li><a href="#" class="text-white">Liên hệ</a></li>
          <li><a href="#" class="text-white">Chính sách bảo mật</a></li>
          <li><a href="#" class="text-white">Điều khoản sử dụng</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5>Tài khoản</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Tài khoản của tôi</a></li>
          <li><a href="#" class="text-white">Lịch sử đơn hàng</a></li>
          <li><a href="#" class="text-white">Danh sách yêu thích</a></li>
          <li><a href="#" class="text-white">Giỏ hàng</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5>Hỗ trợ khách hàng</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Trung tâm trợ giúp</a></li>
          <li><a href="#" class="text-white">Hướng dẫn mua hàng</a></li>
          <li><a href="#" class="text-white">Phương thức thanh toán</a></li>
          <li><a href="#" class="text-white">Vận chuyển & giao hàng</a></li>
        </ul>
      </div>
    </div>
    <hr class="my-4">
    <div class="row align-items-center">
      <div class="col-md-7">
        <p class="mb-md-0">© 2025 ShopNow. Tất cả các quyền được bảo lưu.</p>
      </div>
      <div class="col-md-5">
        <div class="d-flex justify-content-md-end">
          <img src="/api/placeholder/50/30" alt="Visa" class="me-2">
          <img src="/api/placeholder/50/30" alt="Mastercard" class="me-2">
          <img src="/api/placeholder/50/30" alt="PayPal" class="me-2">
          <img src="/api/placeholder/50/30" alt="Momo">
        </div>
      </div>
    </div>
  </div>
</footer>
